<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296536640003-sk03h0f68lupannm3j1s1j8coqsq0e9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296536640003-sk03h0f68lupannm3j1s1j8coqsq0e9l</string>
	<key>API_KEY</key>
	<string>AIzaSyApjKvMIIH3bNGXDSfXMvOV405gi52Hkt4</string>
	<key>GCM_SENDER_ID</key>
	<string>296536640003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.rdewan.ecomApp.development</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecomapp-dev-c7f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecomapp-dev-c7f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296536640003:ios:3927b36843a71d1db25c36</string>
</dict>
</plist>